@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(229, 25%, 31%); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(216, 216, 216);
    border-radius: 15px;
  }

img {
    max-width: 100%;
    max-height: 100%;
}

#root {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

#App {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 1fr 2fr auto / 1fr;
    gap: 5rem;

    #footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;

        #credits {
            position: relative;
            background-color: #fff;
            color: #333;
            border-radius: 25px;
            z-index: 2;
            margin-left: 2rem;
            padding: 1rem;
            width: max-content;
            height: max-content;
    
            span {
                font-size: 1.2rem;
            }
        }

        #rules_button {
            position: relative;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 8px;
            background: transparent;
            padding: .7rem 2.5rem;
            z-index: 2;
            margin-right: 2rem;
            width: max-content;
            height: max-content;
        }
    }
} // #App

@media screen and (max-width: 1366px) {
    #App {
        
        padding: 3% 0;

        #footer {
            flex-direction: column-reverse;
            margin-right: 0;

            #credits {
                margin: 0 auto 0 auto;
                span {
                    font-size: 1rem;
                }
            }

            #rules_button {
                margin: 0 auto 2rem auto!important;
                margin-inline: auto;
            }
        }
    }
}