#wrapper_gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-size: initial;
    background-image: url("../../images/bg-triangle.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    margin-inline: auto;
} // #wrapper_gameboard

@media screen and (max-width: 750px) {
    #wrapper_gameboard {
        width: 80%;
    }
}