$logo-width: 130px;

#menu {
    font-weight: 700;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 45%;
    height: max-content;
    margin: 4rem auto 0 auto;
    padding-left: 1rem;
    z-index: 2;

    #logo {
        width: $logo-width;
        height: calc(#{$logo-width} / 1.61);
    }

    #score {
        background-color: #FAFAFA;
        border-radius: 5px;
        margin: 1rem 1.3rem;
        padding: 1rem 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
            text-align: center;
        }

        p:first-child {
            line-height: .8;
            font-size: .9rem;
            letter-spacing: 2px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4759C3
        }

        p:last-child{
            color: #545162;
            font-weight: 700;
            font-size: 3.2rem;
        }
    }
} // MENU

// MOBILE
@media screen and (max-width: 400px) {

    #menu {
        width: 85%;

        #title {
            p {
                font-size: 1.5rem;
            }
        }

        #score {
            margin: 1rem;
            padding: .7rem 1.5rem;

            p:first-child {
                font-size: .6rem;
            }

            p:last-child {
                font-size: 2.5rem;
            }
        }
    }

}

// TABLETS
@media screen and (min-width: 401px) and (max-width: 768px) {

    #menu {
        width: 90%;

        #title {
            p {
                font-size: 1.5rem;
            }
        }

        #score {
            margin: 1rem;
            padding: .7rem 1.5rem;

            p:first-child {
                font-size: .6rem;
            }

            p:last-child {
                font-size: 2.5rem;
            }
        }
    }

}

// DESKTOPS
@media screen and (min-width: 769px) and (max-width: 1366px) {

    #menu {
        width: 60%;
    }

}