$piece-width: 180px;

a {
    border-radius: 50%;
}

a[data-type="paper"][data-position="true"], .piece[data-type="paper"][data-position="true"] {
    position: absolute;
    transform: translate(-80%,-80%);
}

a[data-type="paper"], .piece[data-type="paper"] {
    box-shadow: 0 6px 0 0 #0c2cca;
    button {
        background-image: linear-gradient(180deg,#4865f4,#5671f5);
    }
}

a[data-type="scissors"][data-position="true"], .piece[data-type="scissors"][data-position="true"] {
    position: absolute;
    transform: translate(80%,-80%);
}

a[data-type="scissors"], .piece[data-type="scissors"] {
    box-shadow: 0 6px 0 0 #8c5e08;
    button {
        background-image: linear-gradient(180deg,#ec9e0e,#eca922);
    }
}

a[data-type="rock"][data-position="true"], .piece[data-type="rock"][data-position="true"] {
    position: absolute;
    transform: translateY(65%);
}

a[data-type="rock"], .piece[data-type="rock"] {
    box-shadow: 0 6px 0 0 #8c182d;
    button {
        background-image: linear-gradient(180deg,#dc2e4e,#dd405d);
    }
}


.piece {
    width: $piece-width;
    height: $piece-width;
    z-index: 1;
    border-radius: 50%;

    button {
        position: relative;
        border: none;
        outline: none;
        width: $piece-width;
        height: $piece-width;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        span {
            box-shadow: inset 0 6px 2px 0 #B8BFD4;
            width: calc(#{$piece-width} / 1.33);
            height: calc(#{$piece-width} / 1.33);
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            .piece-image {
                width: 50%;
            }
        }
    }
    
    button.win {
        &::after {
            width: 200%;
            height: 200%;
            content: "";
            position: absolute;
            border-radius: 50%;
            background: radial-gradient(circle,#2c3755 0 40%,#253453 40% 55%,#223150 55% 80%,#223150 80% 100%);
            z-index: -1;
            opacity: .1;
            animation: fadeIn 1s 1s cubic-bezier(.175,.885,.32,1.275) both,
            loadingSmaller 1s 1s cubic-bezier(.33,1,.68,1) infinite alternate-reverse;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 750px) {

    $piece-width: 125px;

    .piece {
        width: $piece-width !important;
        height: $piece-width !important;

        button {
            width: $piece-width !important;
            height: $piece-width !important;

            span {
                width: calc(#{$piece-width} / 1.33) !important;
                height: calc(#{$piece-width} / 1.33) !important;
            }
        }

        button.win {
            &::after {
                width: 150%;
                height: 150%;
            }
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1366px) {

    $piece-width: 175px;

    .piece {
        width: $piece-width !important;
        height: $piece-width !important;

        button {
            width: $piece-width !important;
            height: $piece-width !important;

            span {
                width: calc(#{$piece-width} / 1.33) !important;
                height: calc(#{$piece-width} / 1.33) !important;
            }
        }

        button.win {
            &::after {
                width: 150%;
                height: 150%;
            }
        }
    }
}

// KEYFRAMES
@keyframes loadingSmaller {
    from{
        transform:scale(.75)
    }
    to {
        transform:scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}