#wrapper_result {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-areas: "you restart him";
    padding: 0 15rem;
    max-height: 350px;
    animation: fadeIn .5s ease-in-out;

    #you {
        grid-area: you;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #title {
            grid-area: title;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            z-index: 2;
            animation: fadeInText .5s .5s cubic-bezier(.175,.885,.32,1.275) both;
        }

        .piece {
            grid-area: piece;
        }
    }

    #restart {
        grid-area: restart;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #title {
            color: #fff;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1.5px;
            margin-bottom: 1rem;
            z-index: 2;
            animation: fadeInText .5s .5s cubic-bezier(.175,.885,.32,1.275) both;
        }

        .win_button {
            color: hsl(229, 25%, 31%);
        }

        .lose_button {
            color: #cd3754;
        }

        button {
            position: relative;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            background-color: #fff;
            padding: .7rem 3rem;
            border-radius: 8px;
            cursor: pointer;
            z-index: 2;
            animation: fadeIn .5s ease-in-out;
        }
    }

    #him {
        grid-area: him;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #title {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            z-index: 2;
            animation: fadeInText .5s .5s cubic-bezier(.175,.885,.32,1.275) both;
        }

        #piece_location {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: linear-gradient(#182442, #151E3D);
            animation: breathing 2s ease-out infinite normal;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 1366px) {
    #wrapper_result {

        grid-template-columns: 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: "you him"
        "restart restart";
        padding: 0;

        #you {
            flex-direction: column-reverse;
            margin-right: 1rem;

            #title {
                margin-top: 2.5rem;
            }
        }

        #restart{

            margin-top: 4rem;

            #title {
                margin-bottom: .5rem;
            }

            button {
                margin-bottom: 4rem;
            }

        }

        #him {
            flex-direction: column-reverse;
            margin-left: 1rem;

            #title {
                margin-top: 2.5rem;
            }

            #piece_location {
                width: 140px;
                height: 140px;
            }
        }
    }
}


// KEYFRAMES
@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}

@keyframes fadeInText {
    from {
        font-size:0
    }
}