#menu {
  font-weight: 700;
  border: 3px solid #606e85;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: max-content;
  margin: 4rem auto 0 auto;
  padding-left: 1rem;
  z-index: 2; }
  #menu #logo {
    width: 130px;
    height: calc(130px / 1.61); }
  #menu #score {
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 1rem 1.3rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu #score p {
      margin: 0;
      text-align: center; }
    #menu #score p:first-child {
      line-height: .8;
      font-size: .9rem;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      color: #4759C3; }
    #menu #score p:last-child {
      color: #545162;
      font-weight: 700;
      font-size: 3.2rem; }

@media screen and (max-width: 400px) {
  #menu {
    width: 85%; }
    #menu #title p {
      font-size: 1.5rem; }
    #menu #score {
      margin: 1rem;
      padding: .7rem 1.5rem; }
      #menu #score p:first-child {
        font-size: .6rem; }
      #menu #score p:last-child {
        font-size: 2.5rem; } }
@media screen and (min-width: 401px) and (max-width: 768px) {
  #menu {
    width: 90%; }
    #menu #title p {
      font-size: 1.5rem; }
    #menu #score {
      margin: 1rem;
      padding: .7rem 1.5rem; }
      #menu #score p:first-child {
        font-size: .6rem; }
      #menu #score p:last-child {
        font-size: 2.5rem; } }
@media screen and (min-width: 769px) and (max-width: 1366px) {
  #menu {
    width: 60%; } }

/*# sourceMappingURL=Menu.css.map */
