#modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; }
  #modal #modal-content {
    background: #fff;
    border-radius: 7px;
    padding: 1.9rem 2.7rem;
    box-sizing: border-box; }
    #modal #modal-content #modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.7rem; }
      #modal #modal-content #modal-header #modal-title {
        text-transform: uppercase;
        color: #3b4363;
        font-weight: 700;
        font-size: 2rem;
        margin: 0; }
      #modal #modal-content #modal-header #exit {
        width: 1.3rem;
        height: 1.3rem;
        transition: all ease-in-out .3s; }
        #modal #modal-content #modal-header #exit path {
          transition: all ease-in-out .3s; }
          #modal #modal-content #modal-header #exit path:hover {
            fill: #3b4363;
            opacity: 1; }
        #modal #modal-content #modal-header #exit:hover {
          cursor: pointer;
          transform: scale(1.2); }
    #modal #modal-content #modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      #modal #modal-content #modal-body #image {
        width: 100%;
        height: 100%; }

@media screen and (max-width: 400px) {
  #modal #modal-content {
    width: 80%; } }

/*# sourceMappingURL=Modal.css.map */
