#wrapper_result {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-areas: "you restart him";
  padding: 0 15rem;
  max-height: 350px;
  animation: fadeIn 0.5s ease-in-out;
}
#wrapper_result #you {
  grid-area: you;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#wrapper_result #you #title {
  grid-area: title;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  z-index: 2;
  animation: fadeInText 0.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
#wrapper_result #you .piece {
  grid-area: piece;
}
#wrapper_result #restart {
  grid-area: restart;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper_result #restart #title {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  z-index: 2;
  animation: fadeInText 0.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
#wrapper_result #restart .win_button {
  color: hsl(229deg, 25%, 31%);
}
#wrapper_result #restart .lose_button {
  color: #cd3754;
}
#wrapper_result #restart button {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: #fff;
  padding: 0.7rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  animation: fadeIn 0.5s ease-in-out;
}
#wrapper_result #him {
  grid-area: him;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#wrapper_result #him #title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  z-index: 2;
  animation: fadeInText 0.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
#wrapper_result #him #piece_location {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#182442, #151E3D);
  animation: breathing 2s ease-out infinite normal;
}

@media screen and (min-width: 375px) and (max-width: 1366px) {
  #wrapper_result {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: "you him" "restart restart";
    padding: 0;
  }
  #wrapper_result #you {
    flex-direction: column-reverse;
    margin-right: 1rem;
  }
  #wrapper_result #you #title {
    margin-top: 2.5rem;
  }
  #wrapper_result #restart {
    margin-top: 4rem;
  }
  #wrapper_result #restart #title {
    margin-bottom: 0.5rem;
  }
  #wrapper_result #restart button {
    margin-bottom: 4rem;
  }
  #wrapper_result #him {
    flex-direction: column-reverse;
    margin-left: 1rem;
  }
  #wrapper_result #him #title {
    margin-top: 2.5rem;
  }
  #wrapper_result #him #piece_location {
    width: 140px;
    height: 140px;
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes fadeInText {
  from {
    font-size: 0;
  }
}

/*# sourceMappingURL=Result.css.map */
